<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Access open data information in an easy to read format.">
    <title>NYC BBL INFO</title>
    <script src="https://unpkg.com/vue"></script>
    <!--
    <script src="../fontawesome-5.0.0-beta6-win/js/fontawesome.js"></script>
    <script src="../fontawesome-5.0.0-beta6-win/js/packs/regular.js"></script>
    -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>

    
    <link rel="stylesheet" href="../fontawesome-5.0.0-beta6-win/css/font-awesome-solid.css">
    <link rel="stylesheet" href="../fontawesome-5.0.0-beta6-win/css/font-awesome-core.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="static/css/layouts/marketing.css">
    <!--<![endif]-->
</head>
<body>



<div class="header" id="home">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">NYC BBL INFO</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#home" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#convertBBL" class="pure-menu-link">Search</a></li>
        </ul>
    </div>
</div>




<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head" style="color:black"><code>NYC BBL INFO</code></h1>
        <p class="splash-subhead">
            new york city borough block and lot information
        </p>
    </div>
</div>

<div class="content-wrapper">

<!-- vue instance -->
<div id="convertBBL">
    <div class="content" id="query">
        <h2 class="content-head is-center">Enter a BBL</h2>
        <div class="l-box-lrg is-center pure-u-1">
            <div class="pure-u-2-5">
                <form class="pure-form">                    
                    <input v-model="inputBBL" id="userInputBBL" maxlength="35">
                    <p> {{ inputErrorMessage }} </p>
                    <button v-on:click.prevent="userInputSearch">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div v-if="showResults">
        <div class="content" id="results">
            <h2 class="content-head is-center">Resultus for {{ outputBBL }}</h2>

            <p style="text-align: center;">Links will open in new tabs.</p>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">

                    <h3 class="content-subhead is-center">
                        DCP ZoLa Map
                    </h3>
                    <p>
                        <a class="pure-button pure-button-primary" v-bind:href="outputZolamap" target="_blank"> <img src="static/images/zola_thumb.png" class="pure-img-responsive"/> </a>
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
                    <h3 class="content-subhead is-center">
                        DOF ACRIS
                    </h3>
                    <p>
                        <a class="pure-button pure-button-primary" v-bind:href="outputAcris" target="_blank"> <img src="static/images/acris_thumb.png" class="pure-img-responsive"/> </a>
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
                    <h3 class="content-subhead is-center">
                        DOF Digital Tax Map
                    </h3>
                    <p>
                        <a class="pure-button pure-button-primary"  v-bind:href="outputTaxmap" target="_blank"> <img src="static/images/dtm_thumb.png" class="pure-img-responsive"/> </a>
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
                    <h3 class="content-subhead is-center">
                        DOB BIS
                    </h3>
                    <p>
                        <a class="pure-button pure-button-primary" v-bind:href="outputBis" target="_blank"> <img src="static/images/bis_thumb.png" class="pure-img-responsive"/> </a>
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
                    <h3 class="content-subhead is-center">
                        DCP GOAT
                    </h3>
                    <p>
                         <a class="pure-button pure-button-primary" v-bind:href="outputGoat" target="_blank"> <img src="static/images/goat_thumb.png" class="pure-img-responsive"/> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div v-if="showMap">
        <div class="content">
            <h2 class="content-head is-center">Map for {{ outputBBL }}</h2>
            <div class="l-box-lrg is-center pure-u-1">
                
                    <div id='map' style='width: 400px; height: 300px;'></div>
                
            </div>
        </div>
    </div>



    <div class="footer l-box is-center">
        Please be aware this is a work in progress. :) An open source, open data project. 
        <p><small>NOT A CITY-SPONSORED SITE. DATA ACCURACY NOT GUARANTEED.</small></p>
    </div>

</div>
</div>

<script>

    mapboxgl.accessToken = 'pk.eyJ1IjoicGtvd2FsZXdza2EiLCJhIjoiVlA4OWppUSJ9.7DKdzaimbqynuqBaOHYc7Q';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v9'
    });

    var convertBBL = new Vue({
        el: '#convertBBL',
        data: {
            inputBBL: '',
            inputErrorMessage: '',
            outputBBL: '',
            outputTaxmap: '',
            outputZolamap: '',
            outputAcris: '',
            outputGoat: '',
            outputBis: '',
            showResults: false,
            showMap: false
        },
        methods: {
            userInputSearch: function() {
                // user input
                inputBBL = this.inputBBL
            
                if(validateBBL(inputBBL)){

                    var parsedBBL = parseBBL(inputBBL);
                    var parsedRaw = parseBBL(inputBBL, false);

                    var bbl = parsedBBL[0];
                    var boro = parsedBBL[1][0];
                    var block = parsedBBL[1][1];
                    var lot = parsedBBL[1][2];

                    this.outputTaxmap = "http://maps.nyc.gov/taxmap/map.htm?searchType=BblSearch&featureTypeName=EVERY_BBL&featureName="+bbl;
                    this.outputZolamap = "http://maps.nyc.gov/doitt/nycitymap/template.jsp?applicationName=ZOLA&searchType=BblSearch&featureTypeName=PLUTO&featureName="+bbl;
                    this.outputAcris = "http://a836-acris.nyc.gov/bblsearch/bblsearch.asp?borough="+boro+"&block="+block+"&lot="+lot;
                    this.outputGoat = "http://a030-goat.nyc.gov/goat/bl.aspx?boro="+boro+"&block_num="+block+"&lot_num="+lot;
                    this.outputBis = "http://a810-bisweb.nyc.gov/bisweb/PropertyProfileOverviewServlet?boro="+boro+"&block="+block+"&lot="+lot;

                    this.outputBBL = bbl;
                    this.showResults = true;
                    resultsDiv = document.getElementById("results");
                    resultsDiv.scrollIntoView();
                    /* this.showMap = true; */
                }else{
                    alert("Not a valid BBL. Please enter a ten digit or '-' separated BBL.");
                }

                function validateBBL(string){
                    if (string.length > 12){
                        return false;
                    }else{
                        var bblParts = string.split("-");
                        
                        if (bblParts.length == 1 && bblParts[0].length == 10){
                            // check to make sure all numbers and valid boro code
                            return true;
                        }else if (bblParts.length == 3){
                            var boro = bblParts[0];
                            var block = bblParts[1];
                            var lot = bblParts[2];
                            // check to make sure all numbers and valid boro code
                            if (boro.length > 1){
                                return false;
                            }
                            if (block.length > 5){
                                return false;
                            }
                            if (lot.length > 4){
                                return false;
                            }
                            return true;
                        }
                    }
                }

                function parseBBL(string, leadingZeros){
                    var parsedBBL = []; // first element array is 10 digit, second element array is array of bbl
                    var leadingZeros = true;

                    var bblParts = string.split("-");
                    if (bblParts.length == 1 && bblParts[0].length == 10){
                        var boro = string.slice(0,1);
                        var block = string.slice(1,6);
                        var lot = string.slice(6);
                        var splitBBL = [boro, block, lot];
                        parsedBBL.push(bblParts[0], splitBBL);
                        return parsedBBL;
                    }else if(bblParts.length == 3){
                        var boro = bblParts[0];
                        var block = bblParts[1];
                        var lot = bblParts[2];

                        if (leadingZeros){
                            while(block.length < 5){ block = "0" + block }
                            while(lot.length < 4){ lot = "0" + lot }
                        }

                        var joinedBBL = boro+block+lot;
                        var splitBBL = [boro, block, lot];
                        parsedBBL.push(joinedBBL, splitBBL);
                        return parsedBBL;
                    }else{
                        return false;
                    }
                }
            }
        }
    })
</script>


</body>
</html>
